doctype html
html
	head
		include includes/jquery
		include includes/bootstrap
		script(src="https://use.fontawesome.com/3feb0f1684.js")
		title= title
		link(rel="stylesheet", href="/css/general.css")
		block headcontent
	body
		div(class='container-fluid')
			block layoutcontent
			div(class='siteTopContainer')
				div(class='siteTopTitle')
					a(href='/') Restobar
				div(class='siteTopLogo')
					img(id='siteLogo' src="/images/restobar_logo.png" alt="restobar_logo" align="center")
			div(class='navbar navbar-default')
				div(class='container-fluid')
					ul(class='nav navbar-nav')
						li
							a(href='/') Home
						li
							a(href='/search') Search
						if userID > 0
							li
								a(href='/create-venue') Create a Venue
							li
								a(href='/profile') My profile
						else
							li
								a(href='/login') Login
			block bodycontent