doctype html
html
	head
		include includes/jquery
		include includes/bootstrap
		title= title
		link(rel="stylesheet", href="css/general.css")
		block headcontent
	body
		block layoutcontent
		nav(class="titlebar")
			h1 Restobar
			img(src="restobar_logo.png", alt="restobar_logo.png", width="5%", height="5%", align="center")

		block bodycontent