extends basiclayout
block bodycontent
    .main.container
        .row
            //Create a column with width of 6 columns and start at offset of 3 columns.
            .col-md-6.col-md-offset-3
                h1 Register to Restobar
                // register form
                //Action must be specified such that the information is stored in the database.
                form(method="POST" action="/register")
                    div.form-group
                        label(for="username") Username:
                        input#username.form-control(type="text", placeholder="Username" name="username")
                    div.form-group
                        label(for="pw") Password:
                        input#pw.form-control(type="password", placeholder="Password" name="password")
                    div.form-group
                        label(for="pw2") Confirm Password:
                        input#pw2.form-control(type="password", placeholder="Password again" name="confirmPassword")
                    div.form-group
                        label(for="firstName") First name:
                        input#firstName.form-control(type="text", placeholder="First name" name="firstName")
                    div.form-group
                        label(for="lastName") Last name:
                        input#lastName.form-control(type="text", placeholder="Last name" name="lastName")
                    div.form-group
                        label(for="email") Email:
                        input#email.form-control(type="email", placeholder="Email address" name="email")
                    //div.radio-check
                        label(for="gender") Male
                        br
                        label(for="gender") Female
                        input#gender.form-control(type="radio", name="gender")
                    //We choose a button with buttontype "primary".
                    button.btn.btn-primary(type="submit") Register