extends basiclayout

block bodycontent
    div(class='col-lg-4 col-centered')
        div(class='col-lg-11 col-centered')
            div(class='jumbotron pageTitle')
                | Congratulations!
        div(class='container-fluid')
            div(class='panel panel-default')
                div(class='panel-body')
                    div(class='panel-body-content')
                        p You have successfully been registered.
                        p We hope you enjoy our application!
                        a(class='btn btn-default' href='/') Return to home