body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #7a3d13;
    text-align: center;
    padding: 2%;
}

.titlebar > h1 {
    margin: 0;
}

button{
    color: black;
    text-emphasis-color: black;
}

#TopTitle {
    color: papayawhip;
    margin: 0;
    text-decoration: none;
}

.btn.inactive{
    color: #7a3d13;
    background-color: papayawhip;
    border-color: black;
}

.btn.active, .btn.inactive:hover, .btn.active:hover {
    color: papayawhip;
    background-color: #7a3d13;
    border-color: black;
}

#registerTitle {
    color: papayawhip;
    background-color: #7a3d13;
    text-align: center;
    border: 7px double white;
}